body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 0;
}

h1 {
  border-radius: 5px;
  padding: 15px;
  color: rgb(77, 29, 96);
  background-color: rgb(247, 233, 252);
  justify-content: center;
  display: flex;
  margin: 0px;
}

.question1 {
  border-radius: 10px;
  border-style: solid;
  border-color: yellow;
  color: rgb(4, 0, 255);
  background-color: rgb(255, 254, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 40px;
}

button {
  width: 120px;
  height: 60px;
  border-style: none;
  border-radius: 10px;
  background-color: rgb(183, 253, 253);
}

button:active {
  background-color: rgb(240, 240, 210);
}

ul.categories {
  list-style-type: none;
  display: flex;
  align-self: self-start;
  margin-top: 50px;
  gap: 10px;
  color: rgb(189, 16, 237);
}

li {
  border: 1px solid;
  border-radius: 5px;
}

.question2 {
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(131, 245, 131);
  background-color: rgb(246, 255, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
}

div.question2 a,
div.question1 a,
div.question3 a {
  margin-left: 90%;
  margin-top: -1%;
}

.question3 {
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(166, 242, 251);
  background-color: rgb(244, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(247, 233, 252);
  padding: 10px;
  border-radius: 5px;
}

h2 {
  color: rgb(99, 237, 13);
  bottom: 0;
  left: 60px;
  right: 60px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

h3 {
  color: blueviolet;
  padding: 5px;
}

p {
  color: rgb(150, 225, 166);
  padding: 5px;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  color: rgb(206, 166, 251);
}

/* PROFILE PAGE */

main {
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2,
h3,
p,
img,
.checkbox {
  margin: 20px;
}

.aboutme {
  border-radius: 10px;
  background-color: rgb(255, 254, 243);
}

img {
  width: 30%;
  border-radius: 40px;
  padding: 5px;
}
